.punch-card-grid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 2px;
}

.punch-card-label {
  font-size: var(--font-size-xs);
  text-align: center;
  color: var(--text-secondary);
}

.punch-card-cell {
  aspect-ratio: 1;
  border-radius: 2px;
  background-color: var(--bg-surface-hover);

  --intensity: 0;
  &[data-intensity] {
    --intensity: attr(data-intensity number, 0);
  }

  &:not([data-intensity='0']) {
    background-color: color-mix(
      in oklch,
      var(--social-color),
      transparent calc(100% - var(--intensity) * 20%)
    );
  }
}
