.weekly-calendar-graph {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 2px;
  line-height: 1;
}

.weekly-calendar-graph-label {
  font-size: var(--font-size-xs);
  text-align: center;
  color: var(--text-secondary);
}

.weekly-calendar-graph-cell {
  aspect-ratio: 1;
  border-radius: 2px;
  background-color: var(--bg-surface-hover);
  transition: background-color 0.3s ease-in-out;

  --intensity: 0;

  &.intensity-1 {
    --intensity: 1;
  }

  &.intensity-2 {
    --intensity: 2;
  }

  &.intensity-3 {
    --intensity: 3;
  }

  &.intensity-4 {
    --intensity: 4;
  }

  &.intensity-5 {
    --intensity: 5;
  }

  &.intensity-1,
  &.intensity-2,
  &.intensity-3,
  &.intensity-4,
  &.intensity-5 {
    background-color: color-mix(
      in oklch,
      var(--social-color),
      transparent calc(100% - var(--intensity) * 20%)
    );
  }
}
