.weekly-calendar-graph {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 2px;
  line-height: 1;
}

.weekly-calendar-graph-label {
  font-size: var(--font-size-xs);
  text-align: center;
  color: var(--text-secondary);
}

.weekly-calendar-graph-cell {
  --timing: 500ms;

  aspect-ratio: 1;
  border-radius: 2px;
  background-color: var(--bg-surface-hover);
  transition:
    background-color var(--timing) ease-in-out,
    opacity var(--timing) ease-in-out;

  &.intensity-1,
  &.intensity-2,
  &.intensity-3,
  &.intensity-4,
  &.intensity-5 {
    background-color: var(--social-color);
  }

  &.intensity-1 {
    opacity: 0.2;
  }

  &.intensity-2 {
    opacity: 0.4;
  }

  &.intensity-3 {
    opacity: 0.6;
  }

  &.intensity-4 {
    opacity: 0.8;
  }

  &.intensity-5 {
    opacity: 1;
  }
}
