---
import '@upfluence/styles/index.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Upfluence Coding Challenge" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/upfluence-coding-challenge/favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://stream.upfluence.co/stream" />
  </head>
  <body>
    <slot />
  </body>
</html>
